
/* tipografia */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* SELECTOR UNIVERSAL */
*{
    margin: 0;
    padding: 0;
}
/* selector de etiqueta */
h1{
    font-family: 'Bebas Neue', sans-serif;
}
/* selector por id */
#word_one{
    font-size: 30px;
    color: rgb(3, 58, 3);
    font-weight: 900;
    text-transform: uppercase;
}

#list_options{
border: 1px solid blue;
margin: 10px;
border-radius: 10px;
}
/* selector por clase */
.word_group{
    background-color: rgb(105, 192, 166);
    color: rgb(57, 153, 236);
    margin: 10px;
}
/* selector por atributo */
[disabled] {
    background-color: aliceblue;
}
/* pseudoclass */
.word_group:hover{
    background-color: bisque;
    padding: 5px;
}
#title_box{
    color: blue;
    font-family:'roboto',sans-serif;
    background-color: blanchedalmond;
    margin: 0 0 10px 0;
    text-align: right;
    text-transform: lowercase;
    word-spacing: 25px0;
    letter-spacing:10 px ;
    /* padding:20px; */
    padding: 0 20px 0 0;
    border: 2px double salmon ;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px saddlebrown;
    -webkit-box-shadow: -2px 7px 125px -1px rgba(231, 222, 91, 0.75);
    -moz-box-shadow: -2px 7px 125px -1px rgba(174, 221, 97, 0.75);
    box-shadow: -2px 7px 125px -1px rgba(165, 216, 71, 0.75);
    font-size: 30px;
}
    #box_father{
        background-color: black;
        width: 50%;
        height: 200px;
        background-image: url(https://lavioletera.com.mx/cdn/shop/articles/ROSAS_ROJAS_3x-100_1024x1024.jpg?v=1538000763);
        background-position: center;
        background-size: cover;
    }



@media(min-width: 880px) and (max-width: 1200px) {
    body{
        background-color: aquamarine;

    }
    h1{
        text-align: right;
    }
    a{
        color: cornflowerblue;
        font-size: 50px;
        padding: 20px;
    }
   
}
@media (max-width: 799px){
    body{
            background-image: url(https://lavioletera.com.mx/cdn/shop/articles/ROSAS_ROJAS_3x-100_1024x1024.jpg?v=1538000763);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }